.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,
      #E9D5DA 0%,
      #E9D5DA 50%,
      #FFFBE7 50%,
      #FFFBE7 100%);
}